header,
main {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 5rem;
  padding-left: 1rem;
  padding-bottom: 2rem;

  h1 {
    margin-bottom: 1rem;
  }
}

main {
  padding-top: 2rem;
}

#sectionSubHeader {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;

    * {
      margin-right: 0.8rem;
    }
  }

  button {
    background: transparent;
    border: 0.1rem solid black;
    font-weight: 700;
    cursor: pointer;
    padding: 0 0.3rem;

    &:hover {
      font-size: 1.5rem;
    }
  }
}
